<!-- doctorlist.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Doctors List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Nouvelle barre de recherche unifiée -->
  <div class="search-container">
    <div class="search-bar">
      <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search doctors..." class="main-searchbar"></ion-searchbar>
      <ion-button fill="clear" class="filter-button" (click)="toggleFilterOptions()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Bouton de recherche -->
  <ion-button expand="block" class="search-button" (click)="searchDoctors()">
    <ion-icon name="search-outline" slot="start"></ion-icon>
    Search
  </ion-button>
    
    <!-- Options de filtre (visible uniquement quand showFilters est true) -->
    <div class="filter-options" [ngClass]="{'show-filters': showFilters}">
      <div class="filter-option">
        <ion-radio-group [(ngModel)]="searchType">
          <ion-item lines="none">
            <ion-label>Search by Speciality</ion-label>
            <ion-radio slot="start" value="specialite"></ion-radio>
          </ion-item>
          
          <ion-item lines="none">
            <ion-label>Search by Location</ion-label>
            <ion-radio slot="start" value="zone_geographique"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-button expand="block" shape="round" (click)="searchDoctors()" class="apply-filter-btn">
        Apply Filter
      </ion-button>
    </div>
  </div>

  <!-- Liste des docteurs (deux par ligne) -->
  <div class="doctor-grid">
    <div class="doctor-row">
      <div class="doctor-card" *ngFor="let doctor of filteredDoctors">
        <div class="doctor-info">
          <img [src]="doctor.image" alt="Doctor Image" class="doctor-avatar" />
          <div class="doctor-details">
            <h2 class="doctor-name">{{ doctor.nom }} {{ doctor.prenom }}</h2>
            <p class="doctor-specialty">{{doctor.specialite}}</p>
            <div class="doctor-rating">
              <span class="star">★</span> {{ doctor.rating }}
              <span class="dot-separator">•</span>{{doctor.zone_geographique}}
            </div>
          </div>
        </div>
        <div class="action-buttons">
          <ion-button expand="block" color="primary" class="book-button" (click)="viewDoctorDetails(doctor.email)">Book</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>