<ion-header>
  <ion-toolbar>
    <ion-title>Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let doctor of doctors">
        <ion-card>
          <img [src]="doctor.image" alt="Doctor Image" />
          <ion-card-header>
            <ion-card-title>{{ doctor.nom }} {{ doctor.prenom }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Spécialité:</strong> {{ doctor.specialite }}</p>
            <p><strong>Zone:</strong> {{ doctor.zone_geographique }}</p>
            <p><strong>Note:</strong> ⭐ {{ doctor.rating }}</p>
          </ion-card-content>
          <ion-button expand="full" (click)="viewDoctorDetails(doctor.email)">Voir Détails</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

