<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header-card">
    <div class="image-container">
      <ion-img src="assets/images/header1.png"></ion-img>
      <h2 class="welcome-text">Welcome</h2>
    </div>
  </ion-card>

  <ion-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="wrapform">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input 
            type="email" 
            formControlName="email" 
            required 
            placeholder="Email"
            autocomplete="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input 
            type="password" 
            formControlName="password" 
            required 
            placeholder="Mot de passe"
            autocomplete="current-password">
          </ion-input>
        </ion-item>
      </div>

      <div class="sign-btn-wrap">
        <ion-button 
          type="submit"
          shape="round" 
          fill="solid" 
          class="sign-btn"
          [disabled]="loginForm.invalid || isLoading">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <span *ngIf="!isLoading">Se connecter</span>
        </ion-button>
      </div>
    </form>
  </ion-card-content>
  <div class="signup-section">
    <p>Pas de compte ? 
      <a (click)="goToPage('signup')">S'inscrire</a>
    </p>
  </div>
</ion-content>