<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil Médecin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informations du Médecin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="doctor?.image">
        <ion-label>Photo de profil:</ion-label>
        <img [src]="doctor.image" alt="Photo de profil du médecin" style="max-width: 100px; border-radius: 50%;" />
      </ion-item>
      <ion-item *ngIf="!doctor?.image">
        <ion-label>Photo de profil: Non défini</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nom: {{ doctor?.nom || 'Non défini' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Prénom: {{ doctor?.prenom || 'Non défini' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Spécialité: {{ doctor?.specialite || 'Non défini' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Zone géographique: {{ doctor?.zone_geographique || 'Non défini' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-buttons class="footer-buttons">
      <ion-button (click)="goToPage('profile-medecin')" class="footer-button">
        <div class="button-content">
          <ion-icon name="person-outline"></ion-icon>
          <span>Profil</span>
        </div>
      </ion-button>
      <ion-button (click)="goToPage('consultations-history')" class="footer-button">
        <div class="button-content">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Consultations</span>
        </div>
      </ion-button>
      <ion-button (click)="goToPage('appointment-request')" class="footer-button">
        <div class="button-content">
          <ion-icon name="calendar-outline"></ion-icon>
          <span>Demandes</span>
        </div>
      </ion-button>
      <ion-button (click)="goToPage('future-appointments')" class="footer-button">
        <div class="button-content">
          <ion-icon name="calendar-number-outline"></ion-icon>
          <span>À venir</span>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>